@use "../variables/colors" as *;
@use "../variables/measurements" as *;
@use "../variables/mediaQuery" as *;
@use "../../helpers/mediaQuery_mixin" as *;

.booking {
    position: relative;
    z-index: 12;
    transform: translateY(-50%);

    .formContainer {
        width: 100%;

        .form {
            padding: 40px 80px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 8px 79px 0px rgba(0, 0, 0, 0.08);

            .input {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                @include mediaQuery($medScreen_min_width) {
                    & {
                        width: 45%;
                    }
                }

                @include mediaQuery($largeScreen_min_width) {
                    & {
                        width: 20%;
                    }
                }

                >label {
                    margin-bottom: 20px;
                    color: $MainTextColor;
                    font-family: "NotoSerif-Bold", sans-serif;
                    text-transform: capitalize;
                }

                >.field {
                    width: 100%;

                    input {
                        color: $SecondaryTextColor;
                        text-transform: uppercase;
                    }

                    fieldset {
                        border: 1px solid $MainColor !important;
                        border-radius: 5px;
                        outline: none !important;
                    }
                }
            }

        }
    }

}