@use "../variables/_colors.scss" as *;

%padding-15 {
    padding: 0 15px;
}

%width {
    max-width: calc(100% / 6);
    flex: 0 calc(100% / 6);
}

%text-capitalize {
    text-transform: capitalize;
}

.nav {
    display: flex;
    align-items: center;

    .logo {
        @extend %width;
        @extend %padding-15;
        display: inline-block;
        font-family: "NotoSerif-ExtraBold", sans-serif;
        font-size: 30px;
        @extend %text-capitalize;
    }

    .links {
        max-width: calc(100% * 4/6);
        flex: 0 calc(100% * 4/6);
        @extend %padding-15;
        display: inline-block;

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                padding: 38px 19px;
                font-family: "Lato-Regular", sans-serif;
                @extend %text-capitalize;
                cursor: pointer;

                a {
                    transition: 0.6s;

                    &:hover {
                        color: $MainColor;
                    }

                }
            }
        }
    }

    .button {
        @extend %width;
        @extend %padding-15;
        display: inline-block;

        button {
            width: 100%;
            padding: 25px 0;
        }
    }
}