@use "./variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

%reset {
    margin: 0;
    padding: 0;
}

%font {
    color: $SecondaryTextColor;
    text-transform: capitalize;

    @include mediaQuery($XXlargeScreen_min_width) {
        & {
            font-size: 0.96vw;
        }
    }
}

%line {
    content: "";
    width: 40%;
    height: 2px;
    display: none;
    position: absolute;
    top: 50%;
    background-color: $SecondaryColor;

    @include mediaQuery($mobile_min_width) {
        & {
            display: block;
        }
    }

    @include mediaQuery($smallScreen_min_width) {
        & {
            width: 50%;
        }
    }

    @include mediaQuery($medScreen_min_width) {
        & {
            width: 80%;
        }
    }

    @include mediaQuery($XXlargeScreen_min_width) {
        & {
            height: 0.193vh;
        }
    }
}